{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "experimental": {
      "keepImportAssertions": true
    },
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6",
    "strictMode": true
  },
  "sourceMaps": true
}
